body {
    padding:0%;
    background-color:black;
    margin-left:2%;
    margin-right:2%;
}
h1 {
    text-align: center;
    font-size: 70px;
}
section{
    font-size: 30px;
}
#slide1 {
    text-align: center;
    padding-top: 15px;
    background-image: url("../img/brain.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px; 
 }
 
#slide2 {
    text-align: center;
    padding-top: 15px;
    background-image: url("../img/html_wall.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
 }

 .menu{
    border-radius:20px;
    display: flex;
    width:100%;
    background-color:#777777;
    align-items: center;
    position: -webkit-sticky; /*pour Safari */
    position: sticky;
    top: 0px;
}
.logox{
    height: calc(145px);
    width: calc(118px);
    margin: 10px;
    margin-bottom:5%;    
}
#entetex{
    display: flex;
    width: 100%;
    border-radius : 20px;
    background-color:#777777;
    margin: 2%;
    margin-bottom: 2%;
    padding-right:5%;
    margin-left:0%;
}
p{
    color:#fff;
}
.pika{
    width:7%;
}
strong{
    color:#e6007f;
}
footer{
    margin-top:3%;
    margin-bottom:0%;
    background-color: #383838;
    color: White;
    border-top-right-radius:12px;
    border-top-left-radius:12px;
    padding: 2.5%;
}
.textFooter{
    margin:0%;
}