*{
    font-family: Arial, Verdana;
}
html{
    /*overflow: hidden;*/
}
body {
    position: relative;
    margin: 0px;
    padding: auto;
    background-image: url("../img/brain.jpg");
    height:1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
header{
    position: relative;
    top:0px;
    width: 95%;
    z-index:2;
}
#entete{
    display: flex;
    width: 101%;
    border-radius : 20px;
    background-color:#777777;
    margin: 2%;
    margin-bottom: 2%;
    
}
.logo{
    height: calc(145px);
    margin: 10px;    
}
.logoflat{
    margin-left:2%;
    float :left;
    display:relative;
}
.text_header {
    margin-top:auto;
    margin-bottom: auto;
    color: #e6007f;
    font-size: 85px;
    margin-left: auto;
    margin-right: auto;
}
nav{
    top: 0px;
    z-index:999;
    width: 95%;
}
.menu .home{
    font-size: 50px;
    padding: 0 15px;
}
.menu .navigation 
{ 
    display: flex;
    flex: 1;
    padding: 0;
}
.menu .navigation li{
    display: flex;
    flex: 1;
    justify-content: center;
}
.menu .navigation li :hover{
    color: #e6007f;
}
.navigation{
    position: relative; 
}
.sommaire{
    color: white;
    font-size: 30px;
    text-align: center;
}
.theme{
    align-items: flex-end;
}
.sous-titre {
    display: flex;
    justify-content: center;
    font-size: 23px;
}
.titre{
    color: black;
}
h1{
    color: #e6007f;
    font-size: 40px;
}
h2{
    color: #e6007f;
    font-size: 30px;
}
.logo_suite{
    height: 27px;
    z-index: 1;
}
.textFooter{
    font-size: 17px;
}
.lien{
    text-decoration: none;
    color: black;
}
#main2 {
    width: 750px;
    padding: 0 0 15px 20px;
    position: relative;
    margin-top: 15%;
}
.utility_min_height {
    min-height: 393px;
}
.clear {
    position: relative;
}
.utility_boxs{
	position:absolute; 
	top:350px; left:150px;
	width:600px; height:100px;}
.utility_box{
	color:#ffffff;
	font-weight:bold;
	float:left;
	margin:10px 25px;}
.utility_box:hover{
	color:#ff8c00;
	font-weight:bold;
    text-decoration:underline;
}
.liste_produit{
    font-size: 7em;
    font-weight: bold;
}
/* Barre de progression en haut de la page, gérée par le script.js */
#progress {
    background-color: #e6007f;
    height: 4px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1000;
}
.group {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: "\1F449";
    margin-left: 4%;
}
.menusticky{
    border-radius:0px;
}
.lib{
    list-style: circle;
    text-align: -webkit-match-parent;
}
