*{
    font-family: Arial, Verdana;
}
*::selection{
    background-color: #e6007f81;

}
#bodyslide {
    background-image: url("../img/brain.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    position: relative;
    top:0px;
    width: 95%;
    z-index:2;
}
#entete{
    display: flex;
    width: 101%;
    border-radius : 20px;
    background-color:#777777;
    margin: 2%;
    margin-bottom: 2%;
    
}
.articlebutton{
    margin-bottom:2%;
    margin-left:2%;
    background-color: #e6007f;
    color:white;
    padding:5px;
    border-radius:45px;
    transition-duration: 0.5s;
    outline:none;
}
.articlebutton:hover{
    background-color:#00a0b0;


}
a, button{
    cursor: pointer;
}
.logo{
    height: calc(145px);
    margin: 10px;    
}
.logoflat{
    margin-left:2%;
    float :left;
}
.text_header {
    margin-top:auto;
    margin-bottom: auto;
    color: #e6007f;
    font-size: 85px;
    margin-left: auto;
    margin-right: auto;
}
nav{
    top: 0px;
    z-index:999;
    width: 95%;
}
.menu .home{
    font-size: 50px;
    padding: 0 15px;
}
.menu .navigation 
{ 
    display: flex;
    flex: 1;
    padding: 0;
}
.menu .navigation li{
    display: flex;
    flex: 1;
    justify-content: center;
}
.menu .navigation li :hover{
    color: #e6007f;
}
.menu .navigation li ::selection{
    color: white;
}
.navigation{
    position: relative; 
}
.sommaire{
    color: white;
    font-size: 26px;
    text-align: center;
    text-decoration: none;
}
.theme{
    align-items: flex-end;
}
.sous-titre {
    display: flex;
    justify-content: center;
    font-size: 23px;
}
.titre{
    color: black;
}
h1{
    color: #e6007f;
    font-size: 40px;
}
h2{
    color: #e6007f;
    font-size: 30px;
}
.logo_suite{
    height: 27px;
    z-index: 1;
}
.lien{
    text-decoration: none;
    color: black;
}
#main2 {
    width: 750px;
    padding: 0 0 15px 20px;
    position: relative;
    margin-top: 15%;
}
.utility_min_height {
    min-height: 393px;
}
.clear {
    position: relative;
}
/* Barre de progression en haut de la page, gérée par le script.js */
#progress {
    background-color: #e6007f;
    height: 4px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1000;
}
.group {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: "\1F449";
    margin-left: 4%;
    margin-right: 2%;
}
.menusticky{
    border-radius:0px;
}
.lib{
    list-style: circle;
}
.titre_art {
    color: #00a0b0;
    margin-bottom: 10%;
}
strong{
    font-weight: bold;
}

#laval_full{
    border-radius:20px;
}
#laval_info{
    border:white solid 2px;
    border-radius:20px;
}
#hmtljscss{
    border:0;
}
.nav_images img{
    margin-left:2%;
    float:right;
}
.textFooter{
    float:left;
}
.hidden{
    display: none;
}

