body{
}

*{
	margin : 0;
	padding : 0;
}
html {
	background-color:#00a0b0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.contenu {
	border: solid yellow 3px;
	padding: 5%;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: #8d0023;
}

h2 {
    text-align: center;
}

.menu {
	z-index: 9;
	text-decoration: none;
	border-bottom: double;
	border-width: 2px;
	border-color: #ddd;
	list-style: none;
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: #00446b;
}

.menu li {
	display: inline;
	padding: 2%;
	line-height: 2;
}

.menu a {
	text-decoration: none;
	color: white;
	font-size: 22px;
	text-decoration-color: grey;
}

.menu a:hover {
	color: #e6007f;
}

.actif {
	font-weight: bold;
}

#bann{
	background: no-repeat left/cover url("../IMG/banniere-huile-olive-hd.jpg");
	display: flex;
    height: 200px;
    min-width: 400px;
	align-items: center;
}
banniere.bann{
	margin: 10%;
}


.test {
	align-items: center;
}
